# Some daily code test

In [1]:
4000/3

1333.3333333333333

In [2]:
from math import ceil
print(ceil(5/3))

2

In [6]:
a = True
b = None
print(isinstance(a, bool))
print(isinstance(b, bool))

True
False

In [12]:
a = 0.5 * 1000
print(a)
print(type(a))

500.0
<class 'float'>

In [2]:
import re
col_len_desc = ' x(76)'
col_len_re = re.findall(r'.*?\((\d+)', col_len_desc)
print(col_len_re)

['76']

In [21]:
col_len = 11
data_type = 'NUMBER({})'.format(col_len if col_len > 10 else 10)
print(data_type)

NUMBER(11)

In [31]:
a = 2.1212323232
b = 2.1212323232
print(float(a))
a == b

2.1212323232

True

In [35]:
a = 0.000
float(a)

0.0

In [37]:
# -*- coding:utf-8 -*-
import toml
import sqlalchemy
from sqlalchemy import create_engine, Column, String,Integer, Table, MetaData,ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, mapper


# 导入配置信息
CONF_PATH = './config.toml'
conf = toml.load(CONF_PATH, _dict=dict)
test_dsn = conf.get('oracle').get('test_dsn')

# 创建实例连接数据库
engine = create_engine('oracle://{}'.format(test_dsn))

conn = engine.connect()
res = conn.execute("select * from test_a")
for i in res:
    print(i)

# 创建对象的基类
Base = declarative_base()

metadata = MetaData()

flxuser:flxuser@146.91.77.248:1521/testdb
(8, 'lee', 12, datetime.datetime(2018, 7, 2, 15, 27, 40), Decimal('3.14'))
(1, 'B11', 45, datetime.datetime(2018, 5, 31, 9, 4, 57), None)
(2, 'B21', 45, datetime.datetime(2018, 5, 31, 9, 4, 57), None)
(3, 'B31', 44, datetime.datetime(2018, 5, 31, 9, 4, 57), None)
(4, 'B41', 44, datetime.datetime(2018, 5, 31, 9, 4, 57), None)
(5, None, 0, datetime.datetime(2018, 5, 31, 9, 4, 57), None)